/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset */

body {
  font: normal normal 400;
  font-size: 11pt;
  line-height: 1.5em;
  /*also written as...  font: normal normal 400 100%/1.5em;*/
  font-family: "Helvetica", sans-serif;
  /* margin: 0.5in 0.5in 0.5in 0.5in */
  /* margin-top: 1em;
	margin-left: 1em; */
}

strong {
  font-weight: bold;
}

p strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-family: "Avenir Next", sans-serif;
  text-align: center;
  font-size: 50pt;
  font-weight: lighter;
  position: relative;
  line-height: 1.2em;
  position: relative;
  /* left: 28%; */
}

h1 strong {
  font-weight: normal !important;
  line-height: 1em;
}

/* Section headers */
h2 {
  font-family: "Avenir Next", sans-serif;
  font-size: 20pt;
  text-align: center;
  font-weight: normal;
  display: flex;
  /* line-height: 1.5em; */
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  width: 100%;
}
h2:after {
  border-bottom: 1.7px dashed #d3d3d3;
  /* height: 0.8em; */
  margin-left: 10px;
  content: "";
  flex: 1;
}

h3 strong {
  /* line-height: 2.5em; */
}

h3 {
  margin-top: 10px;
}

code {
  font-family: "Palatino";
  font-style: italic;
  float: right;
}

li:before {
  content: "-";
  position: relative;
  left: -0.5em;
}

li {
  /*second line indent*/
  padding-left: 2.25em;
  text-indent: -1.25em;
  /*color: #777;*/
}

#contact-info {
  text-align: center;
  position: relative;
  font-weight: lighter;
  color: #ccc;
  /* font-family: Menlo,monospace,sans-serif; */
}

#contact-info a {
  text-decoration: none;
}

@media print {
  p {
    page-break-inside: avoid;
  }
  h2 {
    page-break-after: avoid;
  }
  h3 {
    page-break-after: avoid;
  }
}

a {
  text-decoration: none;
  color: rgb(20, 116, 151);
}

@media print {
  hr {
    page-break-after: always; /* CSS 2 */
    /* minimal layout disruption: */
    height: 0.1mm;
    visibility: hidden;
  }
}
